<p>Title: <%= comment.comment %> </p>

	<%= link_to "Show Page", post_comment_path(@post, comment) unless controller_name == "comments" %>

	<%= link_to "Edit", edit_post_comment_path(@post, comment) if controller_name == "comments"%>

</p>